<html ng-app="SteamQueryTest">
	<!-- This page uses AngularJS -->
	<head>
	    <title>Steam Parsing Test</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
	    <script src="/js/steam-query-test-ajs.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-controller="SteamInfoPage">

	    <hr>

	    <div>
	        <div>
	            <label>Steam Query List</label>
	        </div>

	        <hr>

	        <div>
	            <b><label>Steam Query Test</label></b>
	            <br>
	            Enter a Query
	            <br>
	            <input type="text" id="qu" ng-model="query"><button ng-click="parseQuery()">Get</button>
	            <br><hr><br>
				<div>
               <label>Popular Games</label>
               <table border="1">
                   <tr>
                       <td>Title</td>
                       <td>System</td>
                       <td>Price</td>
                       <td>Track</td>
                       
                   </tr>

                   <tr ng-repeat="iD in QueryList">
                       <td>{{iD.title}}</td>
                       <td>{{iD.system}}</td>
                       <td>{{iD.price}}</td>
                       <td><button ng-click="addItem(iD.itemID)">ADD</button></td>
                   </tr>
               </table>
           </div>

	        </div>
	    </div>

	</body>

</html>