<html ng-app="UserLanding">
	<!-- This page uses AngularJS -->
	<head>
	    <title>Steam Parsing Test</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
	    <script src="/js/userLanding.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
   
   
   
   
   
	<body ng-controller="UserLandingPage" ng-init="welcomeUser()">
       <hr>
      
     
      
	    <div>
	        <div id="Welcome">
	            
	        </div>
      
	        <hr>
            
            
           <div>
               <label>Your Tracked Games</label>
               <table border="1">
                   <tr>
                       <td>Game Name</td>
                       <td>System</td>
                       <td>Retailer</td>
                       <td>Price</td>
                       <td>Date Updated</td>
                       <td>Notify Price</td>
                       <td>Update</td>
                       <td>Delete</td>
                   </tr>

                   <tr ng-repeat="item in items">
                       <td>{{item.title}}</td>
                       <td>{{item.system}}</td>
                       <td>{{item.storeName}}</td>
                       <td>{{item.price}}</td>
                       <td>{{item.priceDate}}</td>
                       <td>{{item.notifyPrice}}</td>
                       <td><button ng-click="updateItem(item.itemID)">Update</button></td>
                       <td><button ng-click="deleteItem(item.itemID)">Delete</button></td>
                   </tr>
               </table>
           </div>
           
           <hr> 
            
            
	      
	            <b><label>Steam Query Test</label></b>
	            <br>
	            Enter a Query
	            <br>
	            <input type="text" id="qu" ng-model="query"><button ng-click="parseQuery()">Get</button>
		<div>
               <label>Queried Games</label>
               <table border="1"> <!--style="visibility:hidden" -->
                   <tr>
                       <td>Title</td>
                       <td>System</td>
                       <td>Price</td>
                       <td>Track</td>
                       
                   </tr>

                   <tr ng-repeat="iD in QueryList">
                       <td>{{iD.title}}</td>
                       <td>{{iD.system}}</td>
                       <td>{{iD.price}}</td>
                       <td><button ng-click="addItem(iD.itemID)">ADD</button></td>
                   </tr>
               </table>
           </div>
	            <br><hr><br>
	        
	        <div>
               <label>Popular Games</label>
               <table border="1">
                   <tr>
                       <td>Title</td>
                       <td>System</td>
                       <td>Price</td>
                       <td>Track</td>
                       
                   </tr>

                   <tr ng-repeat="iD in TopList">
                       <td>{{iD.title}}</td>
                       <td>{{iD.system}}</td>
                       <td>{{iD.price}}</td>
                       <td><button ng-click="addItem(iD.itemID)">ADD</button></td>
                   </tr>
               </table>
           </div>
	        
	        
	        
	    </div>

	</body>

</html>