<html ng-app="WelcomeScreen">
	<!-- This page uses AngularJS -->
	<head>
	    <title>Steam Parsing Test</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
	    <script src="/js/steam-parse-test-ajs.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body ng-controller="welcomeInfoPage">

	    <hr>

	    <div>
	        <div>
	            <label>Welcome</label>
	        </div>

	        <hr>

	        <div>
	            <b><label>Please login to your account. If you do not have an account, click on link below to create on</label></b>
	            
<!-- 	            Use the following link, replacing the {appid} with the Steam Game ID: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>http://store.steampowered.com/api/appdetails?appids=</i>{appid}<br>   -->
					<br>
	            
	            Username: <input type="text" id="userName" ng-model="userNameToSearch">
	            Password: <input type="text" id="passWord" ng-model="passWordToSearch">
	            <button ng-click="logInTest()">Login</button>
	            
	            <br><hr><br>
	            <a href="http://localhost:8080/createAccount.html">Create Account</a>
	            <a href="http://localhost:8080/forgotPW.html">Forgot Password?</a>
				<p ng-bind-html="pageOutput"></p>
	        </div>
	    </div>

	</body>

</html>